{% extends "layout/main_layout.html" %}
{% block 'content' %}
<!-- Blog Post -->
<!-- Title -->
<h1>{{ post.title }}</h1>

{% if request.user == post.user %}
<a href="{% url 'delete_post' post.slug %}" class="btn btn-danger">Delete</a>

{% endif %}
<!-- Author -->
<p class="lead">
    by <a href="#">{{ post.user }}</a>
</p>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>
<hr>
<!-- Preview Image -->
<img class="img-responsive" src="{{ post.image }}" alt="">
<hr>
<!-- Post Content -->
<p class="lead">{{ post.content }}</p>
<hr>

<!-- Blog Comments -->

<!-- Comments Form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="form-group">{{ comment_form.author_name }}</div>
        <div class="form-group">{{ comment_form.text }}</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>

<!-- Posted Comments -->

{% for comment in comments %}
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ comment.author_name }}
            <small>{{ comment.created_at|date:"d.m.Y H:i" }}</small>
        </h4>
        {{ comment.text }}
    </div>
</div>
{% empty %}
<p>Коментарів поки немає.</p>
{% endfor %}

{% endblock %}